.root {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif, Arial;
  color: #fff;
  -webkit-animation-appearance: none;
  -moz-animation-appearance: none;
  appearance: none;
}
